{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
<body>
<div id="tabela">
<h1>Consulta Tabela FIPE</h1>
       
        <label for="marca">Marca:</label>
        <select name="marca" id="marca" required>
            <option value="">Selecione uma marca</option>
        </select>
        
        <label for="modelo">Modelo:</label>
        <select name="modelo" id="modelo" required>
            <option value="">Selecione um modelo</option>
        </select>
        
        <label for="ano">Ano:</label>
        <select name="ano" id="ano" required>
            <option value="">Selecione um ano</option>
        </select>
        
        <label for="ano">versão:</label>
        <select name="versão" id="versão" required>
            <option value="">Selecione a versão</option>
        </select>
        
        <label for="ano">Estado:</label>
        <select name="Estado" id="Estado" required>
            <option value="">Selecione o Estado</option>
        </select>
        <button type="submit">Consultar</button>
        </div>
    </div class="faq">
     <h2 id="consulta"> PERGUNTAS FREQUENTES</h2>
    
    <div class="perguntas" id="p1">
        <button class="faq-fipe" type="button">O que é Tabela FIPE?
        </button>
    </div>

    <div class="perguntas">
        <button class="faq-fipe">Quando surguiu a FIPE?</button>
    </div>

    <div class="perguntas">
    <button class="faq-fipe">Como a tabela FIPE funciona?</button>
    </div>

    <div class="perguntas">
    <button class="faq-fipe">Quando usar a Tabela FIPE</button>
    </div>

    <div class="perguntas">
    <button class="faq-fipe">O que é a Tabela FIPE</button>
    </div>

    <div class="perguntas">
     <button class="faq-fipe">Como consultar a Tabela FIPE?</button>
    </div>


    </div>
     </body>
     {% include 'footer.html' %}
    {% endblock %}